@keyframes pop {
    0%   {filter: grayscale(0%);}
    50%  {filter: grayscale(40%);}
    100%  {filter: grayscale(0%);}
}

.main {
    margin-top: 120px;
    margin-bottom: 300px;
    border-right: solid 4px white;
    border-bottom: solid 4px white;
    border-bottom-right-radius: 20px;

}

.main:hover {
    animation: pop 1s linear;
}

h1, h2, h3, .main p, .silver-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: cover;
}

h1 {
    background-image: url("../img/texture-1.jpg");
    font-size: 6.8em;
    font-weight: bold;
}

.main p {
    background-image: url("../img/texture-2.jpg");
    font-weight: bold;
    font-size: 3.12em;
    text-align: justify;
    text-justify: distributed;
}

.silver-text {
    text-align: center;
    background-image: url("../img/texture-3.jpg");
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-top-left-radius: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 3.6em;
    transform: rotate(-0.3deg);
    margin-top: 20px;
}

.logo-q {
    font-family: 'Rammetto One', cursive;
    -webkit-text-fill-color: #49d644;
    font-size: 1.04em;
}

.logo-s {
    font-size: 0.97em;
}

.logo {
    border: solid 4px black;
    border-radius: 50%;

}
.bottom-logo {
    margin-bottom: 300px;
    margin-top: 150px;
}



.header-image {
    position: realitive;
    border-bottom: solid 4px white;
    border-left: solid 4px white;
    transform: rotate(0.3deg);
    padding-left: 10px;
    border-bottom-left-radius: 20px;
    margin-left: 63px;
}

/* CONTENT SECTION */

.content {
    margin-bottom: 200px;
}

.content h2 {
    background-image: url("../img/texture-1.jpg");
    font-weight: bold;
    font-style: italic;
    font-size: 4.7em;
    border-right: solid 4px white;
    border-top: solid 4px white;
    border-radius: 20px;
}

.content h3 {
    background-image: url("../img/texture-2.jpg");
    font-weight: bold;
    font-size: 4.3em;
    border-bottom: solid 4px white;
    border-left: solid 4px white;
    padding-left: 14px;
    border-bottom-left-radius: 20px;
    margin-bottom: 50px;
}

.content p {
    color: white;
    font-size: 2.3em;
    text-align: justify;
    text-justify: distributed;
    margin-bottom: 100px;
    padding-left: 14px;
    border-left: solid 4px transparent;
}

.content p:hover {
    border-left: solid 4px white;
}

.end {
    margin-bottom: 200px;
}
